@media screen and (max-width: 768px) {
  nav ul {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .card {
    width: 40%;
  }
  .gallery-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 60%;
  }
  .gallery-container {
    width: 100%;
  }
}
